.booking {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.booking__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.booking__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
