.button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: none;
  padding: 16px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.button:not(.button--disabled):hover {
  background-color: #669ec0;
}

.button:not(.button--disabled):active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button--disabled {
  background-color: #e5e5e5;
}

.button--booking {
  width: 280px;
}

.button--submit {
  width: 280px;
}

.button--ok {
  width: 180px;
  margin: 0 auto;
  display: block;
  font-size: 18px;
}

.button--close {
  width: 280px;
  margin: 0 auto;
  display: block;
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .button--booking {
    width: 458px;
  }

  .button--submit {
    width: 324px;
  }

  .button--ok {
    width: 272px;
  }

  .button--close {
    width: 458px;
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .button--submit {
    width: 480px;
  }
}
