.button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: none;
  padding: 16px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #81b3d2;
}

.button--booking {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .button--booking {
    width: 458px;
  }
}
