.button {
  background-color: #81b3d2;
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
}

.button--booking {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .button--booking {
    width: 100%;
  }
}
