.copyright {
  background: #ffffff;
}

.copyright__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.copyright__link {
  display: inline-block;
}
