.copyright {
  width: 129px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.copyright__text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  margin-top: 3px;
}

.copyright__link svg {
  width: 27px;
  height: 34px;
  fill: #000000;
}

.copyright__link:hover svg {
  fill: #81b3d2;
}

.copyright__link:active svg {
  fill: #b2b2b2;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin-top: 43px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
  }
}
