.hashtag {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 37px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background: white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .hashtag {
    width: 140px;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 0;
    margin-right: 109px;
  }
}

@media (min-width: $desktop-width) {
  .hashtag {
    width: 140px;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 0;
    margin-right: 265px;
  }
}
