.main-form {
  height: 1658px;
  background: black;
}

@media (min-width: $tablet-width) {
  .main-form {
    height: 1406px;
  }
}

@media (min-width: $desktop-width) {
  .main-form {
    height: 1216px;
  }
}
