.main-form {
  background: #ffffff;
}

.main-form__inputs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-form__legend {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
