.page-content {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-content {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-content {
    width: 1200px;
    overflow: auto;
    background-color: #ffffff;
    box-shadow: -15px 15px 15px -15px rgba(0, 0, 0, 0.2), 15px 0 15px -15px rgba(0, 0, 0, 0.2);
  }
}
