.page-nav {
  background: red;
  padding-bottom: 55px;
}

.page-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-nav__item {
  background-color: #81b3d2;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  text-align: center;
  padding: 7px;
}

.page-nav__link {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: black;
}

@media (min-width: $tablet-width) {
  .page-nav {
    padding-bottom: 0;
  }

  .page-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
  }

  .page-nav__item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    background-color: blue;
  }

  .page-nav__item:nth-of-type(1) {
    padding-left: 49px;
    padding-right: 49px;
  }

  .page-nav__item:nth-of-type(2) {
    padding-left: 28px;
    padding-right: 28px;
    margin-right: auto;
  }

  .page-nav__item:nth-of-type(3) {
    padding-left: 24px;
    padding-right: 24px;
  }

  .page-nav__item:nth-of-type(4) {
    padding-left: 26px;
    padding-right: 26px;
  }

  .page-nav__link {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: red;
  }
}

@media (min-width: $desktop-width) {
  .page-nav__item:nth-of-type(1) {
    padding-left: 91px;
    padding-right: 91px;
  }

  .page-nav__item:nth-of-type(2) {
    padding-left: 71px;
    padding-right: 71px;
    margin-right: auto;
  }

  .page-nav__item:nth-of-type(3) {
    padding-left: 67px;
    padding-right: 67px;
  }

  .page-nav__item:nth-of-type(4) {
    padding-left: 70px;
    padding-right: 70px;
  }
}
