.page-intro {
  background-color: cadetblue;
  padding-top: 38px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-intro__title {
  margin-top: 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.page-intro__text {
  margin-top: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.page-intro__title--index {
  margin-bottom: 28px;
  font-size: 18px;
}

.page-intro__text--index {
  line-height: 26px;
}

.page-intro__title--photo {
  margin-bottom: 26px;
}

.page-intro__text--photo {
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .page-intro {
    background-color: cadetblue;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .page-intro--photo {
    padding-top: 74px;
    padding-bottom: 59px;
    width: 440px;
    margin: 0 auto;
  }

  .page-intro__title {
    margin-top: 0;
    margin-bottom: 28px;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
  }

  .page-intro__text {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
  }

  .page-intro__title--index {
    margin-bottom: 28px;
    font-size: 21px;
  }

  .page-intro__text--index {
    line-height: 26px;
  }

  .page-intro__title--photo {
    margin-bottom: 31px;
    font-size: 30px;
  }

  .page-intro__text--photo {
    line-height: 24px;
  }
}
