.page-intro {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #ffffff;
}

.page-intro__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.page-intro__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}
