.page-header {
  margin: 0 auto;
}

.page-header__logo {
  display: none;
}

.page-header__button {
  display: none;
}


@media (min-width: $tablet-width) {
  .page-header__logo {
    display: none;
  }

  .page-header__button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: #ffffff;
    width: 1200px;
  }
}
