.photo-item {
  width: 280px;
  padding-top: 22px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid black;
}

.photo-item:last-of-type {
  border-bottom: 1px solid black;
}

.photo-item__link {
  display: block;
  width: 280px;
  height: 280px;
  margin-bottom: 15px;
}

.photo-item__image {
  display: block;
  width: 280px;
  height: 280px;
  background: black;
}

.photo-item__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.photo-item__author {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: none;
}

.photo-item__like-counter {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 36px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background: green;
}

@media (min-width: $tablet-width) {
  .photo-item {
    width: 324px;
    padding: 0;
    border: none;
  }

  .photo-item:last-of-type {
    border-bottom: none;
  }

  .photo-item__link {
    width: 324px;
    height: 267px;
    margin: 0;
  }

  .photo-item__image {
    width: 324px;
    height: 267px;
  }

  .photo-item__info {
    background: lightblue;
    display: flex;
    align-items: center;
  }

  .photo-item__meta {
    background: lightgreen;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
  }

  .photo-item__title {
    background: red;
    margin-bottom: 0;
  }

  .photo-item__author {
    background: red;
    margin: 0;
  }

  .photo-item__like-counter {
    width: 53px;
    padding-left: 32px;
  }

  .photo-item--first {
    width: 648px;
  }

  .photo-item__link--first {
    width: 648px;
    height: 400px;
  }

  .photo-item__image--first {
    width: 648px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .photo-item {
    width: 400px;
    height: 267px;
    position: relative;
  }

  .photo-item__link {
    width: 400px;
    height: 267px;
  }

  .photo-item__image {
    width: 400px;
    height: 267px;
  }

  .photo-item__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .photo-item--first {
    width: 1200px;
    height: 400px;
  }

  .photo-item__link--first {
    width: 1200px;
    height: 400px;
  }

  .photo-item__image--first {
    width: 1200px;
    height: 400px;
  }
}
