.photo-list {
  background-color: burlywood;
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    padding-left: 60px;
    padding-right: 60px;
  }
}
