.photo-list {
  margin: 0;
  background: yellow;
}

@media (min-width: $tablet-width) {
  .photo-list {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .photo-list {
    padding-left: 0;
    padding-right: 0;
  }
}
