.photo-item {
  background-color: red;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 22px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

.photo-item__wrap {
  background-color: #ffffff;
  display: block;
}

.photo-item__image {
  display: block;
  margin-bottom: 16px;
}

.photo-item__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.photo-item__author {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: none;
}

.photo-item__like-counter {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 37px;
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .photo-item {
    width: 324px;
    padding: 0;
    border: none;
  }

  .photo-item__wrap {
    width: 324px;
    height: 267px;
    display: block;
  }

  .photo-item__image {
    width: 324px;
    height: 267px;
    margin-bottom: 0;
  }

  .photo-item__info {
    background: #cccccc;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .photo-item__meta {
    background: white;
  }

  .photo-item__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .photo-item__author {
    margin-top: 0;
    margin-bottom: 0;
  }

  .photo-item__like-counter {
    background: red;
    align-self: center;
  }

  .photo-item--first {
    width: 648px;
  }

  .photo-item__wrap--first {
    width: 640px;
    height: 400px;
  }

  .photo-item__image--first {
    width: 648px;
    height: 400px;
    background: black;
  }

  .photo-item__info--first {
    padding-right: 20px;
  }
}
