.photo-item {
  background: #ffffff;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.photo-item__wrap {
  background: #ffffff;
}

.photo-item__image {
  display: block;
}

.photo-item__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.photo-item__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.photo-item__like-counter {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
