.promo-video {
  width: 320px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 35px;
  background: green;
  text-align: center;
}

.promo-video__title {
  width: 270px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background: white;
}

.promo-video__text {
  width: 270px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  background: white;
}

@media (min-width: $tablet-width) {
  .promo-video {
    width: 768px;
    padding-top: 65px;
    padding-bottom: 73px;
  }

  .promo-video__title {
    width: 440px;
    font-size: 30px;
    margin-bottom: 32px;
  }

  .promo-video__text {
    width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .promo-video {
    width: 1200px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .promo-video__title {
    width: 440px;
    margin-bottom: 32px;
  }

  .promo-video__text {
    width: 440px;
  }
}
