.reason-big__info {
  background: #81b3d2;
}

.reason-big__info--town {
  padding-top: 55px;
  padding-bottom: 25px;
}

.reason-big__info--bridge {
  padding-top: 38px;
  padding-bottom: 24px;
  order: 2;
}

.reason-big__title {
  width: 270px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background: blue;
}

.reason-big__text {
  width: 270px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  background: blue;
}

.reason-big__image {
  width: 320px;
  height: 260px;
  display: block;
  background: black;
}

@media (min-width: $tablet-width) {
  .reason-big {
    display: flex;
  }

  .reason-big__info {
    width: 256px;
    padding-top: 45px;
    padding-bottom: 24px;
  }

  .reason-big__title {
    width: 170px;
    font-size: 21px;
    margin-bottom: 9px;
  }

  .reason-big__text {
    width: 170px;
    margin-bottom: 21px;
  }

  .reason-big__image {
    width: 512px;
    height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .reason-big__info {
    width: 400px;
    padding-top: 52px;
    padding-bottom: 36px;
  }

  .reason-big__text {
    margin-bottom: 22px;
  }

  .reason-big__text--town {
    width: 280px;
  }

  .reason-big__text--bridge {
    width: 230px;
  }

  .reason-big__image {
    width: 800px;
  }
}
