.reason-feature {
  padding-left: 50px;
  position: relative;
}

.reason-feature--housing {
  padding-top: 34px;
  padding-bottom: 0;
}

.reason-feature--housing::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  top: 26px;
  left: 1px;
  background: url("../../img/icon-house.svg") 50% 50% no-repeat;
  background-size: contain;
}

.reason-feature--souvenirs {
  padding-top: 28px;
  padding-bottom: 0;
}

.reason-feature--souvenirs::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 38px;
  top: 18px;
  left: 5px;
  background: url("../../img/icon-gift.svg") 50% 50% no-repeat;
  background-size: contain;
}

.reason-feature--food {
  padding-top: 28px;
  padding-bottom: 38px;
}

.reason-feature--food::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 35px;
  top: 25px;
  left: -2px;
  background: url("../../img/icon-burger.svg") 50% 50% no-repeat;
  background-size: contain;
}

.reason-feature__title {
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.reason-feature__text {
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .reason-feature {
    width: 256px;
    padding: 0;
    padding-top: 158px;
    padding-bottom: 62px;
    text-align: center;
  }

  .reason-feature--housing {
    order: 1;
  }

  .reason-feature--housing::before {
    top: 60px;
    left: 50%;
    margin-left: -38px;
    width: 75px;
    height: 72px;
    background: url("../../img/icon-house.svg") 50% 50% no-repeat;
  }

  .reason-feature--souvenirs {
    order: 3;
  }

  .reason-feature--souvenirs::before {
    top: 57px;
    left: 50%;
    margin-left: -33px;
    width: 64px;
    height: 75px;
    background: url("../../img/icon-gift.svg") 50% 50% no-repeat;
  }

  .reason-feature--food {
    order: 2;
  }

  .reason-feature--food::before {
    left: 50%;
    top: 63px;
    margin-left: -39px;
    width: 77px;
    height: 68px;
    background: url("../../img/icon-burger.svg") 50% 50% no-repeat;
  }

  .reason-feature__title {
    width: 165px;
    font-size: 21px;
    margin-bottom: 21px;
  }

  .reason-feature__text {
    width: 165px;
  }
}

@media (min-width: $desktop-width) {
  .reason-feature {
    width: 400px;
    padding-bottom: 83px;
  }

  .reason-feature__title {
    width: 290px;
  }

  .reason-feature__text {
    width: 290px;
  }
}
