.reasons-wrap {
  background: #cccccc;
}

@media (min-width: $tablet-width) {
  .reasons-wrap {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .reasons-wrap {
    width: 1200px;
  }
}
