.reason-detail {
  padding-left: 50px;
  padding-right: 0;
  background-color: magenta;
}

.reason-detail--housing {
  padding-top: 33px;
  padding-bottom: 0;
}

.reason-detail--souvenirs {
  padding-top: 27px;
  padding-bottom: 0;
}

.reason-detail--food {
  padding-top: 27px;
  padding-bottom: 38px;
}

.reason-detail__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: lemonchiffon;
}

.reason-detail__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background: red;
}

@media (min-width: $tablet-width) {
  .reason-detail {
    width: 166px;
    padding-top: 158px;
    padding-bottom: 62px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .reason-detail--housing {
    order: 1;
  }

  .reason-detail--souvenirs {
    order: 3;
  }

  .reason-detail--food {
    order: 2;
  }

  .reason-detail__title {
    text-align: center;
    font-size: 21px;
    margin-bottom: 21px;
  }

  .reason-detail__text {
    text-align: center;
  }
}
