.slogan {
  background-color: darkred;
}

.slogan__image {
  width: 320px;
  height: 389px;
  display: block;
}

@media (min-width: $tablet-width) {
  .slogan {
    width: 768px;
  }

  .slogan__image {
    width: 768px;
    height: 518px;
    background: red;
  }
}
