.video-player {
  height: 267px;
  background: black;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .video-player {
    width: 648px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .video-player {
    width: 800px;
    margin-bottom: 85px;
  }
}
