.page-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-nav__item {
  background: #81b3d2;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

.page-nav__link {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
