.reason-big {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

.reason-big__info {
  background: #81b3d2;
}

.reason-big__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.reason-big__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.reason-big__image {
  display: block;
  background: #7b6c5a;
}
