.reason-small {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

.reason-small__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.reason-small__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
